*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15rem;
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    margin: -10px 0;
}

/* Nav */
.nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav ul{
    display: flex;
    padding: 10px 0px;
    min-height: 78px;
    align-items: center;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{   
    text-decoration: none;
    color: #333333;
    padding: 0px 16px;
    font-size: 14px;
    font-weight: 600;
}

.nav ul li a:hover{
    color: rgb(94, 94, 221);
}
.x-close{
    background-color: white;
}
.sidenav-Search {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    /* background-color: #000000; */
    overflow-x: hidden;
    transition: 0.4s;
}

.zone-close-Search{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.zone-close-sidebar{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.search-input-bar form{
    background: red;
    text-align: center;
    padding: 25px;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    /* left: 0; */
    overflow-x: hidden;
    transition: 0.4s;
}
.sidenav ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 100%;
}
.sidenav ul li {
    width: 100%;
    padding: 20px 0px;
}
.sidenav ul li a{
 
    font-size: 1.4em;
   
    color: white !important;
}
.logo{
    width: 144px;
}
.input-search{
    /* margin-left: 15rem; */
}

.input-search input{
    min-width: 350px;
    border: none;
    border-radius: 6px;
    padding: 0 60px;
    height: 60px;
}


.dropdown-content {
    opacity: 0;
    min-width: 150px;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    z-index: 30;
    transition: all 0.3s;
    cursor: pointer;
    top: 100px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    top: 70px;
    visibility: visible;
}

.dropdown-core{
    display: flex;
    flex-direction: column;
}
.dropdown-core a{
    padding: 15px !important;
}

/* Main */
.main-bg{
    width: 100%;
    height: 81vh;
    background-image: url(https://edumall.vuejstemplate.com/images/hero/home-education-center-hero-bg.jpg);
    gap: 30px;
}
.left-main-bg{
    margin-top: 5rem;
    flex: 50%;
}

.right-main-bg{
    flex: 50%;
}
.left-main-bg .text{
    color: white;
}

.left-main-bg .t1{
    font-size: 1.1rem;
    letter-spacing: 4px;
}

.t2{
    margin-top: 20px;
    font-size: 3.3rem;
}
.press-text{
    color: #ffc221;
    border-bottom: 2px solid #ffc221;
}

.right-main-bg{
    flex: 50%;
}

.btn-find-course button{
    margin-top: 3rem;
    background-color: white;
    color: rgb(94, 94, 221);
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 15px;
    font-weight: bold;
}
.btn-find-course button:hover{
    background-color: rgb(94, 94, 221);
    color: white;
}
.panel-register{
    margin-left: 5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;

}

/* Form sign up */
.form-sign-up{
    display: flex;
    flex-direction: column;
}
.form-sign-up .item-input
{
    padding: 8px;
}

.form-sign-up .item-input input
{
    padding: 10px;
    border: 1px solid rgb(201, 197, 197);
    background-color: #f2f2f2;
    width: 100%;
}
.btn-submit-signup button{
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(94, 94, 221);
    transition: all 0.2s;
    
}
.btn-submit-signup button:hover{
    background: #ffc221;
    color: black;
}

/******/
.subject-area h1,
.trending-course h1{
    margin: 35px 0 20px 0;
}

.subject-area,
.status-e-learn,
.people-say-about,
.subscribe-to-news{
    background-color: #F8F8F8;
}

.trending-course,
.upcoming-education-event{
    background-color: #FFFFFF;
}

/******/

/* Subject Area */
.subject-area-wrapper{
    padding: 20px 0px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4,1fr);
}

.subject-area h1{
    margin-top: 0;
    padding: 20px 0;
}

.item-subject-area{
    border: 2px solid rgb(233, 227, 227);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.item-subject-area:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 2px solid white;
}
.image-item-subject-area img{
    width: 70px;
    margin-right: 15px;
    padding-top: 20px;
}

/* Trending Courses */
.view-all-courses-btn{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #0071DC;
}

.view-all-courses-btn:hover{
    background-color: #0071DC;
    color: white;
}

/* Status E-Learn */
.status-e-learn{
    padding: 30px 230px;
}

.status-e-learn-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.image-item-status img{
    width: 100px;
}

/* Upcoming Education Events */
.upcoming-education-event{
    text-align: center;
    padding: 50px 0;
    width: 70%;
}

.upcoming-education-event-wrapper{
    margin: 20px 0;
}


/* People Say About EduMall */
.people-say-about{
    text-align: center;
    padding: 50px 0;
}

.people-say-about-wrapper{
    width: 70%;
    margin: 0 auto;
}


/* Partners */
.collaborate-partner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.view-all-partners-btn{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    color: #0071DC;
}

.view-all-partners-btn:hover{
    background-color: #0071DC;
    color: white;
}

.collab-partner-icon{
    padding: 20px 0;
    display: grid;
    gap: 25px 5rem;
    grid-template-columns: repeat(4,1fr);
}

.item-partner-icon img{
    width: 70px;
}

/* Subscribe to newsletter */
.sub-to-new-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.subscribe-news-input{
    background-color: #F2F2F2;
    padding: 15px; 
    width: 100%; 
    border: none;
}

.subscribe-news-btn {
    background-color: #FFC221;
    font-weight: 600;
    color: #000000;
    border: none;
    padding: 14px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.subscribe-news-btn:hover{
    background-color: #0071DC;
    color: #f2f2f2;
}


/* Contact, About us */
/* .contact-about-us-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 0;
}

.contact-abot-link-support{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
} */

.contact-about-us-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.contact-info,
.contact-abot-link-support {
    flex: 1;
    padding: 0 20px;
}

.contact-info {
    max-width: 400px; 
}

.contact-abot-link-support {
    display: flex;
    flex-wrap: wrap;
}

.contact-abot-link-support > div {
    flex: 2;
    min-width: 100px; 
}

.about-list-wrap ul,
.link-list-wrap ul,
.support-list-wrap ul{
    list-style: none;
}

.about-list-wrap ul li a,
.link-list-wrap ul li a,
.support-list-wrap ul li a{
    text-decoration: none;
    display: block;
    color: #646464;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 600;
}

.about-list-wrap ul li a:hover,
.link-list-wrap ul li a:hover,
.support-list-wrap ul li a:hover{
    color: #0071DC;
}

.contact-us-email{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.contact-us-email:hover{
    color: #0071DC;
}

.contact-media-icon{
    margin: 20px 0;
}

.contact-media-icon a{
    text-decoration: none;
    margin: 0 50px 0 0;
}

.contact-media-icon a:nth-child(1) i {
    color: #3d87cc;
}

.contact-media-icon a:nth-child(1) i:hover{
    color: #0071DC;
}

.contact-media-icon a:nth-child(2) i {
    color: red;
}

.contact-media-icon a:nth-child(2) i:hover{
    color: #0071DC;
}

.contact-media-icon a:nth-child(3) i {
    color: #3d87cc;
}

.contact-media-icon a:nth-child(3) i:hover{
    color: #0071DC;
}





/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 30px;
}

.footer-left a{
    text-decoration: none;
    color: #6d6d6d;
    font-weight: 600;
    font-size: 18px;
}

.footer-left a:hover{
    color: #0071DC;
}

.footer-left a:nth-child(1){
    margin-right: 30px;
}

.footer-right{
    color: #6d6d6d;
}


/* Swipper materials for trending courses, upcoming events, people say about & card contents */
.course-card{
    background-color: #FFFFFF;
    /* width:28.4%; */
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 8px;
}

.course-image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.up-education-event-image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-card-content{
    padding: 30px;
}

.up-education-card-content{
    padding: 15px 0;
}

.people-say-card{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 8px;
    text-align: left;
    padding: 50px;
    margin: 20px 0;
}

.people-say-event-image img{
    border-radius: 50%;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.3) 10px 18px 18px;
}

.people-say-heading-text{
    color: #0071DC;
    margin: 20px 0;
}

.people-say-description{
    width: 100%;
    font-size: 17px;
    color: #666666;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
}

.people-say-info{
    font-size: 15px;
}



.course-level-type-all,
.course-level-type-expert{
    background-color: #DCF4F6;
    text-align: center;
    color: #17C6D9;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;;
    border-radius: 5px;
}

.course-level-type-beginner{
    background-color: #E7E8FF;
    text-align: center;
    color: #5B71FE;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;;
    border-radius: 5px;
}

.course-type {
    margin: 15px 0;
}

.course-type a{
    text-decoration: none;
    display: block;
    color: #0071DC;
}

.course-type a:hover{
    color: #FFC221;
}

.course-heading-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    font-size: large;
    font-weight: 600;
}

.course-heading-text a{
    text-decoration: none;
    color: #000000;
}

.course-heading-text a:hover{
    color: #0071DC;
}

.up-coming-heading-text{
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    font-size: large;
    font-weight: 600;
}

.up-coming-heading-text a{
    text-decoration: none;
    color: #333333;
}

.up-coming-heading-text a:hover{
    color: #0071DC;
}

.course-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 15px 0;
}

.course-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-rating-star i{
    color: #FFC221;
}

.course-price-tag-free{
    content: "";
    position: absolute;
    background-color: #6CBD7E;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.course-price-tag-not-free{
    content: "";
    position: absolute;
    background-color: #FFC221;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.up-education-date{
    content: "";
    position: absolute;
    background-color: #0071DC;
    color: #f2f2f2;
    padding: 5px 10px;
    bottom: 150px;
    left: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.up-coming-event-date{
    text-align: left;
    margin: 10px 0;
}



/* Customize */
.fa-font-bigger{
    font-size: 1.5em;
}
.fa-icon{
    padding: 0 20px !important;
}

.bg-cover{
    background-size: cover;
}

.bg-no-repeat{
    background-repeat: no-repeat;
}

.bg-center {
    background-position: 50%;
}

.py-24 {
    padding-bottom: 6rem;
    padding-top: 6rem;
}
.d-flex{
    display: flex;
}
.it-center{
    align-items: center;
}
.txt-center{
    text-align: center;
}
.spacing-text{
    padding: 5px;
}
.press-text-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.press-text-title-2{
    font-size: 1.3rem;
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}
.color-font-black{
    color: #333333;
}
.h-15{
    height: 3.75rem;
}
.bg-white-color{
    background-color: white;
}
.d-block{
    display: block;
}

.d-none{
    display: none;
}

.m-left{
    margin-left: 15px;
}



/* Res */

                /* 1440px */
@media only screen and (max-width: 1440px) {
   .container{
        padding: 0 15px;
   }
   
   .nav ul{
    justify-content: center;
   }

   .left-main-bg{
        text-align: center;
   }
   .right-main-bg{
        text-align: center;
   }
   
   .this-hide-1440px{
        display: none;
   }
   .this-block-1440px{
        display: block;
    }
   
   .nav ul{
    justify-content: space-around;
   }

   .upcoming-education-event,
   .people-say-about-wrapper,
   .trending-course,
   .collaborate-partner,
   .contact-about-us{
    width: 90%;
   }
   .subject-area{
    padding: 5px 75px;
   }
}
                    /* 1200px */
@media only screen and (max-width: 1200px) {
    .panel-register
    {
        margin-left: 0;
    }
    .subject-area-wrapper
    {
        grid-template-columns: repeat(3,1fr);
    }
    .collaborate-partner-wrapper{
        flex-direction: column;
    }
}

                    /* 766px */
@media only screen and (max-width: 766px) {

    .container{
        padding: 30px 30px;
    }
   .main-bg{
        flex-direction: column;
        /* padding: 5rem; */
        height: auto;
   }
   .t1, .t2{
        text-align: left;
   }

    .t1{
        font-size: 15px;
        font-weight: bold;
    }

    .t2{
        font-size: 40px;
        font-weight: bold;
    }
   .btn-find-course{
    text-align: left;
   }

   .this-hide-766px
   {
    display: none;
   }
   .this-block-766px
   {
    display: block;
   }

   .subject-area-wrapper
   {
       grid-template-columns: repeat(2,1fr);
   }

   .status-e-learn-wrapper{
        display: block;
   }
    .collab-partner-icon{
        grid-template-columns: repeat(3,1fr);
    }

    .sub-to-new-wrapper{
        display: block;
        text-align: center;
    }

    .contact-about-us-wrapper{
        flex-direction: column;
    }
}
                    /* 639px */
@media only screen and (max-width: 639px) {
    .subject-area-wrapper
   {
       grid-template-columns: repeat(1,1fr);
   }
}
    /* 480px */
@media only screen and (max-width: 480px) {
     .collab-partner-icon{
        grid-template-columns: repeat(2,1fr);
    }
}


